@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-6 col-md-offset-3 well">
        <form method="post" action="/home/upload" enctype="multipart/form-data">
            <input type="file" name="image" />
            <br />
            <h3>Please enter a password:</h3>
           <input type="text" name="password" />
            <button class="btn btn-danger">Upload</button>
        </form>
    </div>
</div>
















